# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

./bottom_navigation_widget_1/DS_Store
./bottom_navigation_widget_1/atom/
./bottom_navigation_widget_1/buildlog/
./bottom_navigation_widget_1/history
./bottom_navigation_widget_1/svn/

./bottom_navigation_widget_2/DS_Store
./bottom_navigation_widget_2/atom/
./bottom_navigation_widget_2/buildlog/
./bottom_navigation_widget_2/history
./bottom_navigation_widget_2/svn/

./flutter_router_animation_3/DS_Store
./flutter_router_animation_3/atom/
./flutter_router_animation_3/buildlog/
./flutter_router_animation_3/history
./flutter_router_animation_3/svn/

./flutter_backdrop_4/DS_Store
./flutter_backdrop_4/atom/
./flutter_backdrop_4/buildlog/
./flutter_backdrop_4/history
./flutter_backdrop_4/svn/

./flutter_keep_alive_5/DS_Store
./flutter_keep_alive_5/atom/
./flutter_keep_alive_5/buildlog/
./flutter_keep_alive_5/history
./flutter_keep_alive_5/svn/

./flutter_search_bar_6/DS_Store
./flutter_search_bar_6/atom/
./flutter_search_bar_6/buildlog/
./flutter_search_bar_6/history
./flutter_search_bar_6/svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
./bottom_navigation_widget_1/idea/
./bottom_navigation_widget_2/idea/
./flutter_router_animation_3/idea/
./flutter_backdrop_4/idea/
./flutter_keep_alive_5/idea/
./flutter_search_bar_6/idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

./bottom_navigation_widget_1/dart_tool/
./bottom_navigation_widget_1/flutter-plugins
./bottom_navigation_widget_1/flutter-plugins-dependencies
./bottom_navigation_widget_1/packages
./bottom_navigation_widget_1/pub-cache/
./bottom_navigation_widget_1/pub/
./bottom_navigation_widget_1/build/

./bottom_navigation_widget_2/dart_tool/
./bottom_navigation_widget_2/flutter-plugins
./bottom_navigation_widget_2/flutter-plugins-dependencies
./bottom_navigation_widget_2/packages
./bottom_navigation_widget_2/pub-cache/
./bottom_navigation_widget_2/pub/
./bottom_navigation_widget_2/build/

./flutter_router_animation_3/dart_tool/
./flutter_router_animation_3/flutter-plugins
./flutter_router_animation_3/flutter-plugins-dependencies
./flutter_router_animation_3/packages
./flutter_router_animation_3/pub-cache/
./flutter_router_animation_3/pub/
./flutter_router_animation_3/build/

./flutter_backdrop_4/dart_tool/
./flutter_backdrop_4/flutter-plugins
./flutter_backdrop_4/flutter-plugins-dependencies
./flutter_backdrop_4/packages
./flutter_backdrop_4/pub-cache/
./flutter_backdrop_4/pub/
./flutter_backdrop_4/build/

./flutter_keep_alive_5/dart_tool/
./flutter_keep_alive_5/flutter-plugins
./flutter_keep_alive_5/flutter-plugins-dependencies
./flutter_keep_alive_5/packages
./flutter_keep_alive_5/pub-cache/
./flutter_keep_alive_5/pub/
./flutter_keep_alive_5/build/

./flutter_search_bar_6/dart_tool/
./flutter_search_bar_6/flutter-plugins
./flutter_search_bar_6/flutter-plugins-dependencies
./flutter_search_bar_6/packages
./flutter_search_bar_6/pub-cache/
./flutter_search_bar_6/pub/
./flutter_search_bar_6/build/
# Web related
lib/generated_plugin_registrant.dart
./bottom_navigation_widget_1/lib/generated_plugin_registrant.dart
./bottom_navigation_widget_2/lib/generated_plugin_registrant.dart
./flutter_router_animation_3/lib/generated_plugin_registrant.dart
./flutter_backdrop_4/lib/generated_plugin_registrant.dart
./flutter_keep_alive_5/lib/generated_plugin_registrant.dart
./flutter_search_bar_6/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
